nav {
    display: block;
    color: white;
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $primary-color-green;
        text-transform: uppercase;

        display: flex;
        flex-flow: row nowrap;
        gap: 3rem;
        padding: .5rem;
        justify-content: center;
        align-items: center;
    }
}


.intro{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
}

.section-title{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: .25rem 1rem;
    margin: 0;
}

.green-border{
    border-color: $primary-color-green;
    border-width: 2px;
    border-style: solid;
}
.grey-border{
    border-color: $primary-color-grey;
    border-width: 2px;
    border-style: solid;
}

.section-details{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 1rem 0;
    margin: 0;
    color: $primary-color-darkplum;

    ul{
        color: $primary-color-grey;
    }
}

.full-rounded-border{
    border-radius: 10px;
    padding: 1.5rem;
    margin: 0;

    p{
        padding: .5rem;
    }
}

.hero_image_components{
    margin: 3rem .5rem 0 0 ;
    width: 25vw;
}

.profile{
    display: flex;
    flex-flow: column wrap;
    margin: 3rem .5rem .5rem .5rem;
    padding: 0;

    a:hover{
        color: $primary-color-green;
    }
}

.about{
    margin: 3rem .5rem .5rem .5rem;
    width: 40vw;
    height: 23rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    color: $primary-color-darkplum;
}


.speech{
   position: relative;
   background-color: $primary-color-taffy;
   padding: 20px;
   border-radius: 10px;
   max-width: 45vw;
   min-height: 100%;
}

.speech::after {
    position:absolute;
    content: '';
    border: 20px solid transparent;
}

.left.speech::after {
    border-right-color: $primary-color-taffy;
    border-left: 0;
    left: -20px;
    top: 35%;
    margin-top: -20px;
}


.about-text{
    // max-width: 80%;
    padding: 1.5rem;
    
    p{
        padding-top: 1rem;
    }
    fa-quote-left{
        font-size: 3rem;
        padding-right: .5rem;
    }
    fa-quote-right{
        font-size: 3rem;
        padding-left: .5rem;
    }
}

.abilities-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.abilities{
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    border-radius: 10px;
    height: 35rem;
    
    h2{
        padding: .5rem 1rem;
    }
}
.abilities-title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 3px solid $primary-color-grey;

    .screen-menu-icon{
        max-height: 1.25rem;
    }
}
.abilities-subtitle-icon{
    padding-right: .5rem;
    
}
.abilities-side-wrapper{
    padding: 1.5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0px;
    border-right: 5px solid $primary-color-grey;
}

.skill-icon-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0;
    text-align: center; 
    padding: 2rem;
    height: 100%;
    justify-content: center;
}

.skill-icon{
    padding: 1rem;
    display: flex;
    gap: 0 .5rem;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.abilities-wrapper{
    display: flex;
    flex-flow: row wrap;
    
}

.skills-small{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    i{
        font-size: 5rem;
        padding-bottom: 1.25rem;
    }
   
}

.skills-large{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    i{
        font-size: 7rem;
        padding-bottom: 1.25rem;
    }
}

//timeline

.timeline {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2.5rem 0;
    padding: 2rem 1rem 3rem 1rem;
    max-width: 27vw;
    
}

.timeline-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
.event-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    color: $primary-color-plum;

    p, h3{
        color: $primary-color-grey;
    }
}

.timeline-item-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.accentCircle{
    min-width: 31px;
    min-height: 31px;
    background-color: white;
    border: 2px solid $primary-color-green;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.accentLine{
    width: 3px;
    color: $primary-color-green;
    min-height: 500px;
    border: 3px solid $primary-color-green;
    margin: 0;
    // z-index: -1;
    position: relative;
    left: 4.18rem;
}

.gallery-timeline-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 3rem;
}

.projects-gallery{
    width: 35vw;
    border-radius: 10px;
}

.projects-gallery-title{
    h2{
        padding: 1.5rem;
    }
    border-bottom: 3px solid $primary-color-grey;
}
.projects-wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
    .slide{
        display: none;
        
        img{
            max-height: 35rem;
        }
    }
    .cursor{
        cursor: pointer;
    }
    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: $primary-color-green;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: $primary-color-darkplum;
        font-size: 1rem;
        padding: 1rem;
        position: absolute;
        top: 0;
      }

    .caption-container{
        text-align: center;
        background-color: $primary-color-grey;
        width: 100%;
        padding: 1rem;
        margin-bottom: .5rem;
        color: white;
    }

    .row{
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .column {
        img{
            max-height: 10vh;
        }
      }
    .demo {
        opacity: .6;
    }
    .active, .demo:hover {
        opacity: 1;
    }

    .galleryLink{
        text-decoration: none;
        color: white;
        padding: 0 .5rem;
    }
    .galleryLink:hover{
        color: $primary-color-blush;
    }


