html {
  font-family: 'Exo', sans-serif;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fbf7f4;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(3) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(160, 19%, 51%, .15)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-39,-9)' fill='url(%23a)'/></svg>");
  background-repeat: repeat;
  background-position: top center;
  background-size: contain;
  background-color: #eed2cc;
}

body h1 {
  font-size: 2.75rem;
  line-height: 3.5rem;
  margin: 0;
  padding: 0 1rem;
  letter-spacing: 1.15px;
}

body h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0 1rem;
}

body h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0 1rem;
}

body h4 {
  font-size: 1.75rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body P {
  font-size: 1.15rem;
  line-height: 1.55rem;
  margin: 0;
  padding: 0 1rem;
  letter-spacing: 1.15px;
}

body ul {
  padding: 0 1rem;
  margin: .5rem 0;
}

body li {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 1.15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

body li a {
  text-decoration: none;
  color: #6d6875;
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2rem 1.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-background-color-grey {
  background-color: #6d6875;
  color: white;
}

.primary-background-color-blush {
  background-color: #e5989a;
}

.primary-background-color-white {
  background-color: #fbf7f4;
}

.primary-background-color-chiffon {
  background-color: #eed2cc;
  color: #5c374c;
}

.primary-background-color-plum {
  background-color: #5c374c;
  color: white;
}

.primary-background-color-darkplum {
  background-color: #402d5f;
  color: white;
}

.primary-background-color-green {
  background-color: #6c9a8b;
  color: #fbf7f4;
}

.primary-background-color-taffy {
  background-color: #e8998d;
  color: #5c374c;
}

nav {
  display: block;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6c9a8b;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 3rem;
  padding: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-title {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: .25rem 1rem;
  margin: 0;
}

.green-border {
  border-color: #6c9a8b;
  border-width: 2px;
  border-style: solid;
}

.grey-border {
  border-color: #6d6875;
  border-width: 2px;
  border-style: solid;
}

.section-details {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 1rem 0;
  margin: 0;
  color: #402d5f;
}

.section-details ul {
  color: #6d6875;
}

.full-rounded-border {
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0;
}

.full-rounded-border p {
  padding: .5rem;
}

.hero_image_components {
  margin: 3rem .5rem 0 0;
  width: 25vw;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 3rem .5rem .5rem .5rem;
  padding: 0;
}

.profile a:hover {
  color: #6c9a8b;
}

.about {
  margin: 3rem .5rem .5rem .5rem;
  width: 40vw;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #402d5f;
}

.speech {
  position: relative;
  background-color: #e8998d;
  padding: 20px;
  border-radius: 10px;
  max-width: 45vw;
  min-height: 100%;
}

.speech::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
}

.left.speech::after {
  border-right-color: #e8998d;
  border-left: 0;
  left: -20px;
  top: 35%;
  margin-top: -20px;
}

.about-text {
  padding: 1.5rem;
}

.about-text p {
  padding-top: 1rem;
}

.about-text fa-quote-left {
  font-size: 3rem;
  padding-right: .5rem;
}

.about-text fa-quote-right {
  font-size: 3rem;
  padding-left: .5rem;
}

.abilities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
  border-radius: 10px;
  height: 35rem;
}

.abilities h2 {
  padding: .5rem 1rem;
}

.abilities-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  border-bottom: 3px solid #6d6875;
}

.abilities-title .screen-menu-icon {
  max-height: 1.25rem;
}

.abilities-subtitle-icon {
  padding-right: .5rem;
}

.abilities-side-wrapper {
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0px;
  border-right: 5px solid #6d6875;
}

.skill-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
  text-align: center;
  padding: 2rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-icon {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abilities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.skills-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-small i {
  font-size: 5rem;
  padding-bottom: 1.25rem;
}

.skills-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-large i {
  font-size: 7rem;
  padding-bottom: 1.25rem;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0;
  border-radius: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2.5rem 0;
  padding: 2rem 1rem 3rem 1rem;
  max-width: 27vw;
}

.timeline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}

.event-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  color: #5c374c;
}

.event-wrapper p, .event-wrapper h3 {
  color: #6d6875;
}

.timeline-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}

.accentCircle {
  min-width: 31px;
  min-height: 31px;
  background-color: white;
  border: 2px solid #6c9a8b;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.accentLine {
  width: 3px;
  color: #6c9a8b;
  min-height: 500px;
  border: 3px solid #6c9a8b;
  margin: 0;
  position: relative;
  left: 4.18rem;
}

.gallery-timeline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem 0;
  margin: 3rem;
}

.projects-gallery {
  width: 35vw;
  border-radius: 10px;
}

.projects-gallery-title {
  border-bottom: 3px solid #6d6875;
}

.projects-gallery-title h2 {
  padding: 1.5rem;
}

.projects-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.slide {
  display: none;
}

.slide img {
  max-height: 35rem;
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #6c9a8b;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #402d5f;
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #6d6875;
  width: 100%;
  padding: 1rem;
  margin-bottom: .5rem;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  max-height: 10vh;
}

.demo {
  opacity: .6;
}

.active, .demo:hover {
  opacity: 1;
}

.galleryLink {
  text-decoration: none;
  color: white;
  padding: 0 .5rem;
}

.galleryLink:hover {
  color: #e5989a;
}
/*# sourceMappingURL=style.css.map */